body {
}



#divHeader {
    width: 1000px;
    margin: 0 auto;
}

#divNav {
    background-color:black;
    overflow:auto;
}
#divadjNav{
    width:1000px;
    margin:0 auto;
}

#divFooter{
    height:80px;
    color:white;
    background-color:black;
    
}

#ulMenu {
    padding: 0;
}

    #ulMenu li {
        display: inline;
    }

        #ulMenu li a {
            background-color: black;
            color: white;
            padding: 10px 20px;
            text-decoration: none;

        }

        #ulMenu li a:hover {
            background-color: red;
        }
