body {
}



#divHeader {
    width: 1360px;
    margin: 0 auto;
}

#divNav {
    width:1360px;
    margin:0 auto;
    overflow:auto;
}

#ulMenu {
    padding: 0;
}

    #ulMenu li {
        display: inline;
    }

        #ulMenu li a {
            background-color: black;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 10px 10px 0 0;
            box-shadow: 0 1px 3px rgba(0,0,)
        }

        #ulMenu li a:hover {
            background-color: red;
        }
